<header class="header">
  <div class="container">
    <div class="header-wrap">
      <a href="/" class="header-logo">
        <img src="../img/logo.svg" width="94" height="24" alt="grifano logo" />
      </a>
      <div class="header-menu">
        <nav class="header-nav">
          <ul class="header-nav-list">
            <li class="header-nav-item">
              <a href="./about-me.html" class="header-nav-link">My Story</a>
            </li>
            <li class="header-nav-item">
              <a href="./about-me.html" class="header-nav-link">Portfoio</a>
            </li>
            <li class="header-nav-item">
              <a href="./about-me.html" class="header-nav-link">Services</a>
            </li>
            <li class="header-nav-item">
              <a href="./about-me.html" class="header-nav-link">Testimonials</a>
            </li>
          </ul>
        </nav>
        <address class="header-address">
          ul. Morska 32/1 <br />
          75-212, Koszalin <br />
          Poland <br />
          VAT: PL5223091108
        </address>
        <ul class="social-list">
          <li class="social-list-item">
            <a
              href=""
              class="social-link"
              rel="aria-social-link"
              target="_blank"
              rel="noopener noreferrer"
            >
              <svg width="24" height="24" class="social-icon">
                <use href="./img/icons.svg#icon-twitter"></use>
              </svg>
            </a>
          </li>
          <li class="social-list-item">
            <a
              href=""
              class="social-link"
              rel="aria-social-link"
              target="_blank"
              rel="noopener noreferrer"
            >
              <svg width="24" height="24" class="social-icon">
                <use href="./img/icons.svg#icon-linkedin"></use>
              </svg>
            </a>
          </li>
          <li class="social-list-item">
            <a
              href=""
              class="social-link"
              rel="aria-social-link"
              target="_blank"
              rel="noopener noreferrer"
            >
              <svg width="24" height="24" class="social-icon">
                <use href="./img/icons.svg#icon-github"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
      <button type="button" class="button-main is-header-action">
        <svg width="24" height="24" class="header-button-icon">
          <use href="./img/icons.svg#icon-calendar"></use>
        </svg>
        Let’s talk
      </button>
      <div class="header-burger-button">
        <span class="burger-line is-top"></span>
        <span class="burger-line is-mid"></span>
        <span class="burger-line is-bottom"></span>
      </div>
    </div>
  </div>
</header>
