<section class="section-hero">
  <div class="container">
    <div class="hero-wrap">
      <div class="hero-wrap-col">
        <div class="hero-content">
          <h1 class="hero-title">
            Hi 👋 I’m Serhii I <span>help</span> small businesses
            <span>win</span> more <span>customers</span>, using web technology
          </h1>
          <p class="hero-subtext">
            I specialize in strategic web design, crafting people-centric
            digital experiences, and creating standout websites that win
            customers.
          </p>
        </div>
      </div>
      <div class="hero-wrap-col">
        <picture class="home-hero-picture">
          <!-- Mobile -->
          <source
            type="image/webp"
            srcset="
              ./img/section-home-hero/home-hero-bg_mobile.webp,
              ./img/section-home-hero/home-hero-bg_mobile@2x.webp 2x
            "
            media="(min-width: 320px) and (max-width: 768px)"
            width="327"
            height="207"
          />
          <source
            type="image/jpg"
            srcset="
              ./img/section-home-hero/home-hero-bg_mobile.jpg,
              ./img/section-home-hero/home-hero-bg_mobile@2x.jpg 2x
            "
            media="(min-width: 320px) and (max-width: 768px)"
            width="327"
            height="207"
          />
          <!-- Tablet -->
          <source
            type="image/webp"
            srcset="
              ./img/section-home-hero/home-hero-bg_tablet.webp,
              ./img/section-home-hero/home-hero-bg_tablet@2x.webp 2x
            "
            media="(min-width: 768px) and (max-width: 1280px)"
            width="696"
            height="464"
          />
          <source
            type="image/jpg"
            srcset="
              ./img/section-home-hero/home-hero-bg_tablet.jpg,
              ./img/section-home-hero/home-hero-bg_tablet@2x.jpg 2x
            "
            media="(min-width: 768px) and (max-width: 1280px)"
            width="696"
            height="464"
          />
          <!-- Desktop -->
          <source
            type="image/webp"
            srcset="
              ./img/section-home-hero/home-hero-bg_desktop.webp,
              ./img/section-home-hero/home-hero-bg_desktop@2x.webp 2x
            "
            media="(min-width: 1280px)"
            width="540"
            height="540"
          />
          <source
            type="image/jpg"
            srcset="
              ./img/section-home-hero/home-hero-bg_desktop.jpg,
              ./img/section-home-hero/home-hero-bg_desktop@2x.jpg 2x
            "
            media="(min-width: 1280px)"
            width="540"
            height="540"
          />
          <!-- Default image for older browsers; this will be used if none of the above sources are compatible -->
          <img
            src="./images/top-image-desktop.webp"
            alt="Men in glasses and yellow t-shirt looking straight"
            width="327"
            height="207"
            class="home-hero-image"
          />
        </picture>
      </div>
    </div>
  </div>
</section>
